{{ define "main" }}

            <div class="bannerlogo"><img src="img/grpcmate-logo.png" style="width:33%"></div>
            <div class="topbannertext">A dynamic proxy server that translates JSON HTTP requests into gRPC calls</div>
           <div class="button">
                <a href="docs/"><button>GET STARTED</button></a>
            </div>
           <a href="#arrow"><div class="contentDiv">
           <img class="arrow" src="img/arrow.svg" /></a>
         </div>
        
      </div>
  </div>

  {{ .Content }}    


{{ end }}
